.bg{
    background-color: rgb(245, 245, 250) !important;
}
.giam{
    color: #eb5757;
    background: #fff0e9;
    border-radius: 4px;
    padding: 1px 2px 2px 2px;
    margin-left: 7px;
    
}
.price-old{
    color: #666;
    margin-left: 7px;
    text-decoration-line: line-through;
}
.price-new{
    color: #d0021c;
    
    font-weight: bold;
}
.quantity-product-detail{
    width: 90px;
    border: none;
    
}


/* CSS */
.add-quantity, .minus-quantity{
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.add-quantity:hover, .minus-quantity:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}
        

/* Parent background */
